**/work/
**/x86_64/
**/out/
*.iso
*.iso.sig
*.pkg.tar.zst
*.pkg.tar.zst.sig
*.pkg.tar.xz
*.pkg.tar.xz.sig
.archiso.*
archiso-tmp/
*.log
*.tmp
*.swp
*.swo
.git/
.gitmodules
.gitignore~
*.bak
*.old
.DS_Store
Thumbs.db
.vscode/
.idea/
**/proc/**
**/sys/**
**/dev/**
**/run/**