[Unit]
Description=FrosteArch first boot installer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
ExecStart=/usr/local/bin/frostearch-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target